/*
colors used:
background color (white): #FFFFFF
button color (blue): #05676e;
secondary Color (gold): ##FFD700 
*/

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.7;
  color: rgb(21, 43, 87);
}


h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.0em;
  font-weight: 600;
}

h2 {
  font-size: 1.8em;
  font-weight: 500;
}

h3 {
  font-size: 1.6em;
  font-weight: 500;
}

h4 {
  font-size: 1.4em;
  font-weight: 400;
  text-transform: uppercase;
  margin: 10 px;
}

img {
  width: 100%;
}

a {
  color: #fab300;
  text-decoration: none;
  /* No underlining */
}


a:hover {
  color: #7b2a0d;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
}

a:active {
  /* selected link */
  color: #994c30;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #ff9873;
  color: #000000;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  /* width of the border, type, color */
  transition: 0.2s opacity
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}

.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}




/* Layout styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#hero h1 {
  text-align: center;
  /* Centers text */
}

.logo {
  max-width: 150px;
  display: inline-block;
}

#hero {
  background-color: #ffffff;
  padding: 20px 0;
}

.social a {
  max-width: 70px;
  display: inline-block;
}



header {
  background-color: #fdfaf7;
  padding: 10px 0 4px;
  margin: 0 auto;
  border-bottom: 3px solid #ffa735;
  width: 100%;
}

main {
  padding-top: 56px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 127, 80, 0.5);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}



/* Header Footer */

footer {
  text-align: center;
}

.project {
  margin-bottom: 100 px;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}


.col-sm-1 {
  width: 8.33%;
}

.col-sm-2 {
  width: 16.66%;
}

.col-sm-3 {
  width: 25%;
}

.col-sm-4 {
  width: 33.33%;
}

.col-sm-5 {
  width: 41.66%;
}

.col-sm-6 {
  width: 50%;
}

.col-sm-7 {
  width: 58.33%;
}

.col-sm-8 {
  width: 66.66%;
}

.col-sm-9 {
  width: 75%;
}

.col-sm-10 {
  width: 83.33%;
}

.col-sm-11 {
  width: 91.66%;
}

.col-sm-12 {
  width: 100%;
}

/* Medium devices (640px and larger)*/
@media only screen and (min-width: 640px) {

  nav>ul>li {
    display: inline-block;
  }

  nav>ul {
    margin: 1em 0;
  }


  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .logo {
    max-width: 250 px;
  }

  .col-md-1 {
    width: 8.33%;
  }

  .col-md-2 {
    width: 16.66%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33%;
  }

  .col-md-11 {
    width: 91.66%;
  }

  .col-md-12 {
    width: 100%;
  }

  .about-page h3 {
    margin-top: 0
  }

  header {
    text-align: unset;
    padding: 60px 20px 30px;
    font-size: 20px
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .col-md-6 {
    text-align: left;
  }

  [class*="col-"] {
    float: left;
    padding: 30px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #hero {
    text-align: center;
  }

  #hero span {
    display: block;
  }

  .navtoggle li:last-child {
    display: none;


  }

}

/* Large devices (1024px and larger)*/
@media only screen and (min-width: 1024px) {

  .logo {
    max-width: 250 px;
  }

  .col-lg-1 {
    width: 8.33%;
  }

  .col-lg-2 {
    width: 16.66%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-8 {
    width: 66.66%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33%;
  }

  .col-lg-11 {
    width: 91.66%;
  }

  .col-lg-12 {
    width: 100%;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

  }

  header {
    text-align: unset;
    padding: 60px 20px 30px;
    font-size: 24px
  }

  nav {
    width: auto;
    float: right;
    margin-top: 0px;
  }


  [class*="col-"] {
    float: left;
    padding: 30px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #hero {
    text-align: center;
  }

  #hero span {
    display: block;
  }

}